*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
html {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}

ul {
  padding-left: 0;
  padding-right: 0;
}
ul > li {
  list-style: none;
}
a:active,
a:hover,
a {
  text-decoration: none;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
.container {
  width: 100%;
  max-width: 1440px;
  padding: 15px;
  margin: 0 auto;
}
input[type="text"] {
  border: none;
  outline: none;
  padding: 0;
}
.header {
  height: 40px;
  display: flex;
  background: #ffffff;
  align-items: center;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 4;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.1s linear;
}
.header__hide {
  transform: translateY(-40px);
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__logo img {
  margin: 12px 0;
}
.logo {
  margin-left: 20px;
  width: 67px;
  height: 16px;
}
.nav ul {
  display: flex;
  margin: 12px 0;
}
.nav ul li {
  padding-right: 26px;
}

.star {
  fill: transparent;
  width: 12px;
  height: 12px;
}
.icon {
  fill: transparent;
  width: 24px;
  height: 24px;
}
.icon:hover {
  fill: #333333;
}

/* main */
.main {
  margin-top: 30px;
}
.main__display-center {
  display: flex;
  justify-content: space-between;
}

.main__display-left {
  width: 49%;
}

.main__display-right {
  width: 49%;
}
.display-title {
  margin: 20px 0 0 20px;
}
.display-title h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 133%;
  color: #333333;
}
.display-article {
  margin: 13px 0 0 20px;
}
.display-article h4 {
  font-weight: 300;
  font-size: 12px;
  color: #828282;
}
.display-reviews {
  margin: 18px 0 24px 20px;
  width: 315px;
  display: flex;
  align-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.display-rating {
  margin-right: 4px;
}
.reviews-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  color: #333333;
  margin-right: 12px;
}
.reviews-title-all {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  color: #333333;
}

.arrow-right {
  width: 24px;
  height: 24px;
  fill: none;
}
.arrow-down {
  width: 24px;
  height: 24px;
  fill: none;
}
/* slider  */
.card {
  display: flex;
  position: relative;
}
.card-slider {
  display: flex;
  width: 686px;
  width: 100%;
  margin: 15px 0;
  padding: 0 15px;
}
.slider__nav {
  width: 70px;
  position: absolute;
  z-index: 2;
  left: 7%;
  top: 8%;
  cursor: pointer;
}

.slider__nav-item img {
  max-width: 100%;
  max-height: 100%;
}
.slider__nav-item:not(:last-child) {
  margin-bottom: 20px;
}
.slider__item {
  height: 91px;
  width: 100%;
}
.slider__block {
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
}
/* display right */

.display-price {
  margin-left: 20px;
}
.price-wrap {
  display: flex;
  width: 200px;
  margin-bottom: 10px;
  align-items: center;
}
.price-arrow {
  display: flex;
  margin-left: 12px;
}
.price-new {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  color: #333333;
  margin-right: 10px;
}
.price-old {
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  color: #828282;
  text-decoration-line: line-through;
}
.price-discount {
  padding: 4px 8px;
  border: 1px solid black;
  margin-right: 10px;
  font-size: 12px;
  line-height: 133%;
  font-weight: 400;
}
.price-discount:hover {
  background-color: antiquewhite;
  cursor: pointer;
}
.price-promotion {
  padding: 4px 8px;
  border: 1px solid black;
  font-size: 12px;
  line-height: 133%;
  font-weight: 400;
}
.price-promotion:hover {
  background-color: antiquewhite;
  cursor: pointer;
}
/* select */
.select {
  margin: 32px 0 0 20px;
  width: 315px;
  position: relative;
}
.select.is-active .select__body {
  display: block;
  z-index: 3;
}
.select__header {
  display: flex;
  border: 1px solid #000000;
  cursor: pointer;
  width: 315px;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.select__current {
  font-size: 14px;
  line-height: 143%;
  padding: 12px 164px 12px 12px;
}
.select__arrow {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 24px;
  height: 24px;
  margin-left: auto;
}
.select__body {
  display: none;
  border: 1px solid #000000;
  border-top: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 3;
  background-color: #ffffff;
}
.select__item {
  cursor: pointer;
  font-size: 14px;
  line-height: 143%;
  padding: 12px 168px 12px 12px;
  z-index: 3;
}

.select__item:hover {
  background-color: #ffebcd;
}
.block-link {
  margin: 12px 0 45px 20px;
}
.link-text {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  color: #333333;
}

/* button */
.display__buttons {
  display: flex;
  margin-left: 20px;
}
.btn-group {
  display: flex;
  font-size: 14px;
}
.plus-btn {
  width: 46px;
  height: 44px;
  background-color: #f2f2f2;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.current {
  display: flex;
  width: 46px;
  height: 44px;
  background-color: #f2f2f2;
  padding: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
}
.minus-btn {
  width: 46px;
  height: 44px;
  background-color: #f2f2f2;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.add-btn {
  height: 44px;
  width: 251px;
  padding: 12px 28px;
  background-color: #333333;
  color: #ffffff;
  font-size: 14px;
  line-height: 143%;
  margin-left: 12px;
  cursor: pointer;
}

.favorite-btn {
  height: 44px;
  width: 44px;
  background-color: #333333;
  margin-left: 8px;
  cursor: pointer;

  padding: 10px;
}
.favorite-icon {
  height: 44px;
  width: 44px;
}
.favorite-btn:hover {
  fill: #ff0000;
}
.btn-block {
  display: flex;
}
.block-buy {
  margin: 12px 0 45px 20px;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -110px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.display__right-information {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}
.display__right-information::before {
  content: "";
  display: block;
  border-top: 0.5px solid #c4c4c4;
  margin-bottom: 24px;
}

.product-list {
  display: flex;
  align-content: center;
  align-items: center;
}
.product {
  width: 20px;
  height: 20px;
  fill: none;
}
.clock {
  width: 20px;
  height: 20px;
  fill: none;
}
.pay {
  width: 20px;
  height: 20px;
  fill: none;
}
.product-list:not(:last-child) {
  margin-bottom: 12px;
}
.product-icon {
  display: flex;
}

.product-link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  color: #333333;
  margin-left: 4px;
}
.block-icon {
  margin-right: 4px;
}
/* styles */
.styles {
  margin-top: 28px;
}
.styles__header {
  margin-bottom: 32px;
  text-align: center;
}
.header-link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  color: #333333;
}

.styles__center {
  display: flex;
}
.gallery__styles {
  display: flex;
  flex-wrap: wrap;
  max-width: 686px;
  width: 50%;
}
.gallery__styles-big {
  position: relative;
  max-width: 686px;
  display: flex;
  width: 50%;
}
.styles__item {
  margin: 15px 0;
  padding: 0 15px;
  width: 50%;
}
.styles__item-big {
  margin: 15px 0;
  padding: 0 15px;
  width: 100%;
}
.styles__item-big .full-screen {
  position: absolute;
  top: -184%;
  right: 6%;
}
.styles__item .full-screen {
  position: absolute;
  top: -40%;
  right: 6%;
}
.styles__item-inner {
  background: #333333;
  position: relative;
  display: flex;
  cursor: pointer;
  overflow: hidden;
}
.bag-white {
  position: relative;
  width: 48px;
  height: 48px;
  fill: transparent;
}
.favorite-fill {
  position: relative;
  width: 16px;
  height: 16px;
  fill: #ffffff;
}
.styles__item-inner:hover .styles__item-img {
  opacity: 0.2;
}
.styles__item-inner:hover .styles__item-info {
  opacity: 1;
}
.styles__item-img {
  transition: opacity 0.1s linear;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.styles__item-info {
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: 100%;
  position: absolute;
  top: 64%;
  left: 0%;
  z-index: 1;
  transform: translate3d(0, -50%, 0);
  transition: opacity 0.2s linear;
  text-align: center;
  color: #ffffff;
}
.styles__item-icon {
  margin-bottom: 10px;
}
.styles__item-icon-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
}
.favorite-fill {
  width: 24px;
  height: 24px;
}
.favorite-fill:hover {
  fill: #ff0000;
}
.full-screen {
  width: 24px;
  height: 24px;
  fill: none;
}
.styles__item-title {
  margin-bottom: 46px;
}

/* footer */
.footer {
  margin: 130px 0 0;
}
.footer__left {
  display: flex;
  width: 335px;
  margin-left: 143px;
}
.footer__right {
  display: flex;
  width: 452px;
  margin-right: 143px;
}
.footer__wrap {
  display: flex;
}
.footer__clients {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__about {
  display: flex;
  flex-direction: column;
  width: 335px;
  margin: 0 16px;
}
.footer__mail {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #333333;
  text-transform: uppercase;
  margin-top: 12px;
}
.footer__list ul > li {
  font-size: 14px;
  font-weight: 300;
  line-height: 143%;
}
.footer__list ul > li:not(:last-child) {
  margin-bottom: 8px;
}
.footer__form {
  display: inline;
  position: relative;
}
.footer__subscribe {
  margin-top: 33px;
}
.footer__input {
  padding: 0 0 8px 16px;
  width: 452px;
  border: none;
  outline: none;
  border-bottom: 1px solid #c4c4c4;
}
.close {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 7%;
  cursor: pointer;
}

input::placeholder {
  font-size: 14px;
  line-height: 143%;
  color: #828282;
  margin-bottom: 12px;
}
.footer__btn {
  padding: 8px 28px;
  margin: 30px 0 0 303px;
  border: 1px solid #333333;
  font-size: 14px;
  line-height: 143%;
  color: #333333;
}

/* burger menu */
.burger {
  display: none;
}
.nav__list {
  position: absolute;
  display: none;
  justify-content: center;
  flex-direction: column;
  margin-top: 300px;
  width: 100%;
  height: auto;
  right: 0;
  background: #ffffff;
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out;
  top: -551%;
}
.nav-active {
  display: block;
}
.nav-visible {
  transform: none;
}
.nav__item {
  padding: 0 100px 0 30px;
}
.nav__item a {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-transform: uppercase;
  color: #333333;
  margin-left: 30px;
}
.nav__item:not(:last-child) {
  margin-bottom: 30px;
}
.nav__item:first-child {
  padding-top: 80px;
}
.nav__item:last-child {
  padding-bottom: 43px;
}
.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  cursor: pointer;
  z-index: 1000;
}
.burger-line {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background-color: #333333;
  transition: opacity 0.3s ease-in-out;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333333;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
    bottom 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger-active .burger-line {
  opacity: 0;
}
.burger-active::before {
  top: 50%;
  transform: rotate(45deg);
}
.burger-active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

/*Adaptive layout */

@media (max-width: 1200px) {
  .slider__nav {
    left: 6%;
    top: 4%;
  }
  .styles__item-big .full-screen {
    top: -145%;
  }
}
@media (max-width: 991px) {
  .display-header {
    width: 100%;
  }

  .display__right-information {
    width: 100%;
  }
  .display__right-information::before {
    width: 100%;
    margin: 16px 0;
  }

  .select {
    width: 248px;
    margin-top: 12px;
  }
  .select__current {
    padding: 8px 88px 8px 8px;
  }
  .block-link {
    margin: 8px 0 10px 20px;
  }
  .display-reviews {
    margin: 10px 0 0 20px;
    width: 250px;
  }
  .main__display-center {
    display: flex;
    flex-wrap: wrap;
  }
  .main__display-left {
    height: 500px;
  }
  .main__display-right {
    height: 500px;
  }
  .select__header {
    width: 248px;
  }
  .slider__nav {
    width: 44px;
    top: 7%;
  }
  .display__buttons {
    display: flex;
    flex-direction: column;
  }

  .btn-block {
    margin: 10px 8px 0 0;
  }
  .add-btn {
    margin: 0;
  }

  .styles__center {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery__styles-big {
    max-width: 686px;
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
  .gallery__styles {
    width: 100%;
    margin: 0 auto;
  }
  .styles__item-big .full-screen {
    top: -184%;
  }
  .footer__input {
    width: 300px;
  }
  .footer__left {
    margin-left: 40px;
  }
  .footer__right {
    margin-right: 40px;
  }
  .footer__btn {
    margin-left: 156px;
  }
}
@media (max-width: 767px) {
  .burger {
    display: block;
  }
  .nav__list {
    z-index: 1000;
  }
  .nav {
    position: relative;
    top: 0;
    left: 30%;
    right: 0;
  }

  .main__display-left {
    width: 100%;
    margin: auto;
    height: auto;
  }
  .main__display-right {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .slider__nav {
    width: 47px;
  }
  .styles__center {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery__styles-big {
    max-width: 686px;
    display: flex;
    width: 100%;
  }
  .gallery__styles {
    width: 100%;
  }
  .styles__item-big .full-screen {
    top: -130%;
  }
  .styles__item .full-screen {
    top: -81%;
  }

  .styles__item .styles__item-title {
    font-size: 10px;
    margin-bottom: 0;
  }
  .styles__item .styles__item-icon {
    margin-bottom: -6px;
  }
  .bag-white {
    width: 24px;
  }
  #snackbar {
    margin-left: -265px;
  }

  .footer__input {
    width: 100%;
  }
  .footer__btn {
    margin-left: 52%;
  }
  .footer__wrap {
    flex-wrap: wrap;
  }
  .footer__left {
    margin-left: 0;
    width: 42%;
  }
  .footer__about {
    width: 42%;
  }
  .footer__right {
    width: 100%;
    margin: 0 20px 20px 0;
  }
  .footer__subscribe {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 414px) {
  .nav {
    left: 4%;
  }
  nav ul li:last-child {
    padding-right: 0;
  }
  .slider__nav-item img {
    width: 75%;
  }
  .slider__nav {
    width: 35px;
    top: 7%;
  }
  .styles__item-big .full-screen {
    top: -65%;
  }
  .styles__item .full-screen {
    top: -40%;
  }

  #snackbar {
    margin-left: -164px;
    width: 303px;
  }
  .footer__left {
    margin-right: 9px;
  }
  .footer__btn {
    margin-left: 53%;
  }
}
